* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: #f7f7f7;
  position: relative;
  color: #4a4a4a;
}

hr {
  border-top-width: 0;
  border-bottom-width: 1px;
}